<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment with Momo, Paypal, Stripe</title>
</head>

<body>
    <h1>Payment with Momo, Paypal, Stripe</h1>
    <form action="/pay" method="post">
        <input type="submit" value="Buy Paypal">
    </form>
    <form action="/create-checkout-session" method="post">
        <input type="submit" value="Buy Stripe">
    </form>
    <form action="/checkout" method="post">
        <input type="submit" value="Buy Momo">
    </form>
</body>

</html>